.background-image {
  height: 700px;
  background-image: url(../Assets/backgroudimg.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.75);
  height: 700px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.wrap h1 {
  font-size: 48px;
  user-select: none;
}

.wrap hr {
  background-color: var(--orange);
  height: 3px;
  margin: 3px 0 25px 0;
  border: 0;
}

.left-section {
  width: fit-content;
  justify-self: right;
}

.left-section h2 {
  font-weight: bold;
}

.icon {
  background-color: var(--light-brown);
  padding: 10px;
  width: 44px;
  height: 44px;
  border-radius: 10%;
}

.contact-block {
  grid-template-columns: 44px calc(100% - 44px);
  column-gap: 10px;
  margin-bottom: 30px;
}

.contact-text {
  align-self: center;
}

.contact-text h2 {
  letter-spacing: 0.5px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.contact-text a {
  color: #fff;
  text-decoration: underline;
}

.right-section {
  width: 60%;
}

.right-section h2 {
  text-align: center;
  letter-spacing: 0.4px;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  padding: 10px 0;
  position: relative;
}

.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 8px;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(38, 38, 38, 0.5);
  width: 100%;
}

.user-label {
  position: absolute;
  left: 15px;
  top: 2px;
  color: #e8e8e8;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:valid {
  outline: none;
  border: 1.5px solid var(--light-brown);
}

.input-error input,
.input-error textarea {
  border: 1.5px solid #d71f1f !important;
}

.input:focus ~ label,
.input:valid ~ label {
  letter-spacing: 0.3px;
  font-size: 14px;
  background-color: #050709;
  padding: 0 0.2em;
  color: var(--orange);
}

.input-error input:valid ~ label,
.input-error textarea:valid ~ label {
  color: #d71f1f;
}

.right-section textarea {
  resize: none;
  height: 6rem;
  writing-mode: horizontal-tb;
  width: 96.5%;
}

.right-section textarea::placeholder {
  color: #c0c0c0;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.right-section button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  border: 2px solid var(--orange);
  border-radius: 20px;
  background-color: var(--orange);
  cursor: pointer;
  transition: all 350ms;
}

.right-section button:hover {
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
}

@media screen and (max-width: 1000px) {
  .wrap {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem 0;
    height: fit-content;
  }

  .background-image {
    height: auto;
  }

  .left-section,
  .right-section {
    width: auto;
    margin: 1rem 2rem;
  }

  .right-section textarea {
    width: 94.5%;
  }
}
