.second-section {
  padding: 5rem 2rem;
  background-color: rgb(219, 219, 219);
}

.second-section-title {
  text-align: center;
}

.second-section-title h1 {
  color: var(--light-brown);
  text-transform: uppercase;
  font-weight: bold;
}

.second-section-title h2 {
  margin: 10px;
  color: rgb(44, 44, 44);
  font-size: 60px;
  letter-spacing: 0.8px;
}

.second-section-title p {
  line-height: 20px;
  color: rgb(44, 44, 44);
}

.second-section-boxes {
  display: grid;
  margin: 2.5rem auto 0 auto;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.content-box {
  justify-self: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
  min-height: 450px;
  background-color: #192431;
  box-shadow: 8px 10px 20px 0.3px #192431;
  margin: 10px 30px;
  padding: 15px;
  border-radius: 15px;
}

.flex-wrap {
  align-self: center;
  padding-bottom: 25px;
}

.content-box img {
  justify-self: center;
  margin-bottom: 10px;
}

.content-box h3 {
  margin: 10px 5px 5px 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--light-brown);
}

.content-box h4 {
  padding: 0px 10px 5px 10px;
  font-size: 28px;
  letter-spacing: 0.6px;
  color: #fff2d9;
}

.content-box p {
  line-height: 21px;
  padding: 5px;
}

.third-section {
  background-color: #232323;
  padding: 25px 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.third-section--left-part {
  max-width: 520px;
}

.third-section--left-part h2 {
  font-size: 45px;
}

.third-section--left-part p {
  margin-top: 10px;
  font-size: 19px;
  line-height: 21px;
}

.third-section--right-part {
  width: fit-content;
  justify-self: right;
}

.fourth-section {
  background-color: #cfaa7b;
  padding: 4rem 5rem;
  text-align: right;
}

.fourth-section h3 {
  font-size: 21px;
  margin-bottom: 1.3rem;
  letter-spacing: 0.6px;
}

.fourth-section h4 {
  font-size: 32px;
  width: 50%;
  margin: 0 0 2.4rem auto;
  letter-spacing: 0.5px;
}

.fourth-section--button {
  border: 1px solid #192431;
  background-color: #192431;
  box-shadow: 5px 5px 15px #192431;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 12px 15px 13px;
  text-transform: uppercase;
  color: #fff;
  transition: all 440ms ease-out;
}

.fourth-section--button:hover {
  background-color: transparent;
  color: #192431;
}

@media screen and (max-width: 1200px) {
  .second-section-boxes {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .second-section-boxes {
    grid-template-columns: repeat(1, 1fr);
  }

  .third-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }

  .third-section--right-part {
    margin-top: 2rem;
  }

  .fourth-section {
    padding: 2rem;
    text-align: unset;
  }

  .fourth-section h3 {
    font-size: 16px;
  }

  .fourth-section h4 {
    width: 100%;
    font-size: 24px;
    margin: 0 0 20px 0;
  }

  .fourth-section--button {
    display: flex;
    margin: 0 auto;
    width: fit-content;
  }
}
