.background {
  background-image: url(../Assets/BackgroundAboutUs.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  padding: 8%;
  display: flex;
  justify-content: center;
}

.paragraf {
  display: flex;
  color: var(--orange);
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 14px;
  user-select: none;
}

.wrap img {
  width: 420px;
  aspect-ratio: 420 / 267;
  height: auto;
}

.left-section {
  width: 420px;
  padding-bottom: 10rem;
}

.left-section--quote {
  border-left: 3px solid #ffcc64;
  padding-left: 10px;
  margin-top: 10px;
}

.left-section--quote p {
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 3px;
  padding: 4px;
}

.left-section--quote hr {
  width: 30%;
}

.right-section {
  margin-left: 3rem;
  width: 600px;
  float: left;
}

.right-section h1 {
  margin-top: 18px;
  color: var(--orange);
  font-size: 2.3rem;
  user-select: none;
}

.right-section hr {
  width: 6.5%;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  height: 1px;
  margin: 4px 0 12px 0;
}

.right-section h2 {
  letter-spacing: 0.3px;
  font-size: 1.12rem;
  margin-bottom: 40px;
  line-height: 21px;
}

.right-section--contact-link {
  display: flex;
  float: right;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  border: 1px solid var(--light-brown);
  background-color: var(--light-brown);
  border-radius: 20px;
  padding: 12px 24px;
  transition: all 0.4s;
}

.right-section--contact-link svg {
  margin-left: 5px;
}

.right-section--contact-link:hover,
.right-section--contact-link:active {
  color: var(--orange);
  background-color: transparent;
}

.bottom-section {
  width: 100%;
  height: fit-content;
  background-color: #232323;
}

.bottom-section h2 {
  text-align: center;
  padding: 20px 15px 15px 15px;
  font-size: 1.5rem;
  letter-spacing: 0.4px;
}

.firm-container {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 20px;
}

.bottom-firm-box {
  place-content: center;
  padding: 3rem 2rem;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(187, 187, 187);
}

.left-section-800 {
  display: none;
}

@media screen and (max-width: 800px) {
  .wrap {
    display: inline-block;
    padding: 2rem;
    padding-left: 0;
  }

  .left-section {
    display: none;
  }

  .left-section-800 {
    margin-left: 3rem;
    margin-top: 10rem;
    display: block;
    width: 80%;
  }

  .paragraf {
    position: absolute;
    transform: translateY(-100%);
    display: block;
  }

  .left-section-800 img {
    width: 100%;
  }

  .right-section {
    position: relative;
    display: inline-block;
    width: 90%;
  }

  .right-section h2 {
    line-height: 1.3rem;
  }

  .right-section--contact-link {
    float: left;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5rem;
    margin-left: 0;
  }

  .bottom-section {
    height: auto;
    padding-top: 2rem;
  }

  .bottom-section h2 {
    line-height: 1.9rem;
    letter-spacing: 0.7px;
    font-size: 1.8rem;
  }

  .firm-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
