.background {
  padding: 5% 0 5% 0;
  background-color: #1d1d1d;
  box-sizing: border-box;
}

.page-title {
  padding: 2rem;
  display: block;
  text-align: center;
}

.page-title h3 {
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.page-title h3::before {
  content: '';
  position: absolute;
  transform: translateY(500%) translateX(-275px);
  padding-left: 100px;
  width: 75px;
  height: 2px;
  background-color: white;
}

.page-title h3::after {
  content: '';
  position: absolute;
  transform: translateY(500%);
  margin-left: 100px;
  padding-right: 100px;
  width: 75px;
  height: 2px;
  background-color: white;
}

.page-title h1 {
  font-size: 3rem;
}

.main-section {
  position: relative;
  display: block;
  padding: 10px;
  width: 100%;
}

.main-section--left-container {
  margin: 25px;
  width: 44%;
  padding: 30px;
  background-color: #eeeeee;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
}

.main-section--left-container h3,
.main-section--right-container h3 {
  color: black;
}

.main-section--left-container p,
.main-section--right-container p {
  color: gray;
}

.main-section--right-container {
  margin: 45px 25px 25px 25px;
  width: 44%;
  padding: 30px;
  background-color: #eeeeee;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
}
