.background {
  padding: 5% 0;
}

.page-title {
  padding: 2rem;
  text-align: center;
}

.page-title h3 {
  user-select: none;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.page-title h3::before {
  position: absolute;
  content: '';
  transform: translateY(500%) translateX(-275px);
  padding-left: 100px;
  width: 75px;
  height: 2px;
  background-color: #fff;
}

.page-title h3::after {
  position: absolute;
  content: '';
  transform: translateY(500%);
  margin-left: 100px;
  padding-right: 100px;
  width: 75px;
  height: 2px;
  background-color: #fff;
}

.page-title h1 {
  user-select: none;
  font-size: 3rem;
  letter-spacing: 0.6px;
}

.main-section {
  display: flex;
  justify-content: center;
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
}

.main-section--right {
  margin-top: 50px;
}

.container {
  margin: 25px 15px;
  padding: 16px 26px 26px 26px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 4px solid transparent;
  box-shadow: rgba(240, 240, 240, 0.5) 6px 2px 16px 0px;
}

.container-title {
  grid-template-columns: 64px calc(100% - 64px);
  margin-bottom: 20px;
}

.container-title img {
  justify-self: center;
  object-fit: contain;
  padding: 5px;
  width: 56px;
  height: 56px;
}

.container-title h3 {
  align-self: center;
  color: #0c0c0c;
  font-weight: bold;
  font-size: 24px;
  user-select: none;
}

.container p {
  color: gray;
  letter-spacing: 0.4px;
  font-size: 17px;
  line-height: 19px;
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .main-section {
    display: block;
    max-width: unset;
  }

  .page-title {
    padding: 0.5rem;
  }

  .page-title h3::before {
    transform: translateY(500%) translateX(-43px);
    padding-left: 13px;
    width: 10px;
  }

  .page-title h3::after {
    margin-left: 20px;
    padding-right: 13px;
    width: 10px;
  }

  .container {
    width: auto;
  }

  .main-section--right {
    margin-top: 25px;
  }

  .container {
    padding: 22px 20px;
  }
}
