.footer {
  background-color: #020202;
  color: var(--light-gray);
  width: 100%;
  position: static;
  padding: 2rem 1rem 1rem 3.5rem;
  height: 10rem;
  font-size: 1.1rem;
}

.first-section {
  letter-spacing: 1.5px;
  line-height: 2rem;
  width: 50%;
}

.social-media {
  position: absolute;
  right: 10%;
}

.social-media a {
  color: white;
  margin: 13px;
  transition: all 0.3s;
}

.social-media a:hover {
  color: var(--light-brown);
}

.linkedin path {
  fill: white;
  transition: all 0.3s;
}

.linkedin:hover path {
  fill: var(--light-brown);
}

@media screen and (max-width: 800px) {
  .footer {
    display: block !important;
    text-align: center;
    min-height: 140px;
    padding-left: 1rem;
    padding-bottom: 10rem;
  }

  .first-section {
    width: 100%;
    margin-bottom: 15px;
  }

  .social-media {
    position: relative;
    right: 0;
  }
}
