.footer {
  background-color: rgb(0, 0, 0);
  color: var(--light-gray);
  width: 100%;
  padding: 1rem;
  position: static;
  padding-top: 2rem;
  padding-left: 3.5rem;
  height: 10rem;
  display: flex;
  font-size: 1.1rem;
}

.first-section {
  letter-spacing: 1.5px;
  line-height: 2rem;
  width: 50%;
}

.social-media {
  position: absolute;
  right: 10%;
}

.social-media a {
  color: white;
  margin: 13px;
}

.social-media img {
  background-color: white;
  padding: 0;
}

.social-media img:hover,
.social-media img:active {
  transition: 0.3s;
  background-color: var(--light-brown);
}

.social-media a:hover,
.social-media a:active {
  transition: 0.3s;
  color: var(--light-brown);
}

@media screen and (max-width: 800px) {
  .footer {
    display: block;
    justify-content: center;
    text-align: center;
    min-height: 140px;
    padding: 1rem;
  }
  .first-section {
    width: 100%;
    margin-bottom: 15px;
  }
  .social-media {
    margin-left: 2rem;
    width: 100%;
    position: relative;
    display: contents;
  }
}
