.stars-background {
  height: 200vh;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: relative;
  z-index: 10;
}

.stars {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 37px 132px #fff, 347px 777px #fff, 364px 79px #fff,
    682px 183px #fff, 144px 822px #fff, 148px 164px #fff, 113px 720px #fff,
    998px 297px #fff, 336px 860px #fff, 600px 47px #fff, 1465px 435px #fff,
    962px 974px #fff, 338px 245px #fff, 1296px 190px #fff, 1441px 180px #fff,
    1351px 65px #fff, 1827px 380px #fff, 648px 363px #fff, 372px 45px #fff,
    729px 987px #fff, 1820px 82px #fff, 1088px 492px #fff, 888px 873px #fff,
    292px 283px #fff, 1882px 586px #fff, 152px 334px #fff, 101px 561px #fff,
    1304px 164px #fff, 945px 166px #fff, 1152px 797px #fff, 658px 307px #fff,
    1009px 691px #fff, 1289px 155px #fff, 815px 746px #fff, 881px 560px #fff,
    698px 373px #fff, 1100px 814px #fff, 732px 832px #fff, 1376px 885px #fff,
    1070px 133px #fff, 1668px 650px #fff, 21px 116px #fff, 123px 757px #fff,
    253px 68px #fff, 493px 262px #fff, 177px 53px #fff, 169px 992px #fff,
    1375px 195px #fff, 1815px 740px #fff, 92px 678px #fff, 69px 700px #fff,
    75px 131px #fff, 765px 954px #fff, 1644px 990px #fff, 1204px 187px #fff,
    88px 846px #fff, 917px 126px #fff, 1907px 138px #fff, 1379px 13px #fff,
    214px 781px #fff, 1689px 199px #fff, 425px 683px #fff, 1652px 59px #fff,
    826px 303px #fff, 1943px 893px #fff, 1393px 196px #fff, 1211px 18px #fff,
    283px 662px #fff, 1727px 485px #fff, 853px 928px #fff, 1972px 800px #fff,
    1601px 571px #fff, 1813px 648px #fff, 1859px 605px #fff, 1422px 973px #fff,
    122px 388px #fff, 871px 522px #fff, 686px 49px #fff, 977px 910px #fff,
    296px 411px #fff, 755px 246px #fff, 185px 817px #fff, 1337px 750px #fff,
    1942px 95px #fff, 1613px 611px #fff, 477px 902px #fff, 1330px 300px #fff,
    1534px 256px #fff, 580px 302px #fff, 23px 102px #fff, 496px 299px #fff,
    968px 131px #fff, 922px 588px #fff, 1909px 389px #fff, 562px 681px #fff,
    95px 749px #fff, 1568px 954px #fff, 671px 467px #fff, 66px 22px #fff,
    920px 36px #fff, 1430px 204px #fff, 787px 762px #fff, 1295px 784px #fff,
    1888px 290px #fff, 341px 358px #fff, 1406px 397px #fff, 458px 660px #fff,
    186px 126px #fff, 1099px 901px #fff, 1694px 526px #fff, 539px 639px #fff,
    1417px 567px #fff, 665px 635px #fff, 1899px 621px #fff, 253px 861px #fff,
    121px 978px #fff, 279px 367px #fff, 1184px 402px #fff, 1118px 171px #fff,
    1924px 499px #fff, 423px 591px #fff, 1333px 957px #fff, 47px 901px #fff,
    1847px 489px #fff, 1222px 255px #fff, 778px 58px #fff, 454px 165px #fff,
    1646px 120px #fff, 552px 406px #fff, 920px 508px #fff, 1140px 855px #fff,
    1469px 995px #fff, 1338px 741px #fff, 1327px 342px #fff, 21px 463px #fff,
    1589px 551px #fff, 1401px 301px #fff, 585px 755px #fff, 421px 995px #fff,
    1812px 983px #fff, 439px 524px #fff, 337px 227px #fff, 1081px 276px #fff,
    1838px 354px #fff, 418px 20px #fff, 413px 486px #fff, 1141px 508px #fff,
    984px 598px #fff, 350px 31px #fff, 1913px 388px #fff, 1400px 976px #fff,
    866px 241px #fff, 1469px 846px #fff, 681px 876px #fff, 1057px 99px #fff,
    842px 446px #fff, 1738px 212px #fff, 1865px 346px #fff, 262px 526px #fff,
    1505px 356px #fff, 467px 649px #fff, 1932px 62px #fff, 1564px 872px #fff,
    737px 657px #fff, 1292px 1000px #fff, 1446px 98px #fff, 1505px 434px #fff,
    54px 558px #fff, 308px 507px #fff, 515px 46px #fff, 1169px 318px #fff,
    1727px 702px #fff, 1539px 971px #fff, 1283px 65px #fff, 96px 363px #fff,
    1578px 355px #fff, 1817px 557px #fff, 756px 508px #fff, 1801px 425px #fff,
    532px 179px #fff, 1716px 363px #fff, 1710px 187px #fff, 408px 562px #fff,
    1839px 979px #fff, 1156px 823px #fff, 1166px 578px #fff, 1906px 131px #fff,
    702px 511px #fff, 843px 344px #fff, 209px 406px #fff, 1812px 492px #fff,
    1529px 736px #fff, 1835px 425px #fff, 905px 832px #fff, 1033px 38px #fff,
    559px 728px #fff, 771px 389px #fff, 1540px 61px #fff, 1850px 556px #fff,
    247px 681px #fff, 1360px 13px #fff, 1058px 104px #fff, 963px 789px #fff,
    1057px 941px #fff, 1414px 898px #fff, 1823px 549px #fff, 317px 707px #fff,
    381px 310px #fff, 1804px 224px #fff, 1747px 448px #fff, 894px 337px #fff,
    446px 846px #fff, 1042px 927px #fff, 1912px 976px #fff, 1414px 191px #fff,
    1487px 493px #fff, 1887px 978px #fff, 1323px 676px #fff, 515px 511px #fff,
    1401px 925px #fff, 1710px 454px #fff, 462px 839px #fff, 1849px 490px #fff,
    1425px 334px #fff, 342px 558px #fff, 1040px 446px #fff, 1695px 154px #fff,
    451px 759px #fff, 1687px 191px #fff, 1045px 102px #fff, 262px 103px #fff,
    1921px 869px #fff, 813px 115px #fff, 211px 269px #fff, 1790px 742px #fff,
    1303px 193px #fff, 1953px 897px #fff, 1307px 115px #fff, 588px 416px #fff,
    1243px 135px #fff, 998px 441px #fff, 1297px 743px #fff, 1941px 590px #fff,
    706px 72px #fff, 1684px 282px #fff, 1088px 456px #fff, 1509px 379px #fff,
    1631px 432px #fff, 145px 576px #fff, 513px 161px #fff, 709px 15px #fff,
    785px 69px #fff, 1644px 977px #fff, 1841px 161px #fff, 1385px 955px #fff,
    33px 830px #fff, 600px 74px #fff, 904px 128px #fff, 1912px 852px #fff,
    1994px 849px #fff, 1472px 878px #fff, 1625px 476px #fff, 532px 446px #fff,
    1307px 512px #fff, 1943px 230px #fff, 1695px 931px #fff, 1815px 776px #fff,
    1035px 190px #fff, 511px 667px #fff, 272px 958px #fff, 1013px 961px #fff,
    955px 485px #fff, 1719px 731px #fff, 1173px 152px #fff, 1211px 765px #fff,
    1155px 561px #fff, 1722px 894px #fff, 61px 385px #fff, 1426px 578px #fff,
    112px 570px #fff, 1649px 692px #fff, 503px 630px #fff, 1298px 209px #fff,
    73px 241px #fff, 422px 318px #fff, 1075px 225px #fff, 1992px 545px #fff,
    489px 966px #fff, 1594px 421px #fff, 966px 745px #fff, 1590px 125px #fff,
    105px 139px #fff, 1946px 230px #fff, 174px 794px #fff, 1255px 558px #fff,
    131px 1px #fff, 924px 590px #fff, 1123px 431px #fff, 833px 139px #fff,
    1269px 689px #fff, 634px 478px #fff, 1683px 378px #fff, 124px 949px #fff,
    134px 381px #fff, 1239px 304px #fff, 1107px 141px #fff, 1268px 736px #fff,
    428px 309px #fff, 1124px 172px #fff, 576px 874px #fff, 1298px 615px #fff,
    598px 767px #fff, 1183px 549px #fff, 1121px 116px #fff, 426px 400px #fff,
    1460px 392px #fff, 23px 822px #fff, 1012px 205px #fff, 494px 914px #fff,
    864px 43px #fff, 1431px 577px #fff, 383px 474px #fff, 839px 654px #fff,
    766px 659px #fff, 1198px 413px #fff, 470px 745px #fff, 890px 445px #fff,
    1385px 62px #fff, 1992px 552px #fff, 1272px 380px #fff, 821px 91px #fff,
    1506px 926px #fff, 740px 894px #fff, 1716px 503px #fff, 1236px 534px #fff,
    1014px 606px #fff, 744px 389px #fff, 1392px 40px #fff, 509px 475px #fff,
    1139px 660px #fff, 360px 793px #fff, 1887px 926px #fff, 870px 151px #fff,
    716px 324px #fff, 1982px 977px #fff, 1546px 221px #fff, 1708px 270px #fff,
    1745px 915px #fff, 1330px 667px #fff, 274px 859px #fff, 937px 273px #fff,
    1915px 427px #fff, 1422px 313px #fff, 1819px 985px #fff, 1716px 434px #fff,
    1767px 962px #fff, 102px 924px #fff, 1279px 567px #fff, 798px 470px #fff,
    1018px 552px #fff, 1620px 929px #fff, 7px 681px #fff, 946px 782px #fff,
    105px 774px #fff, 1056px 353px #fff, 653px 702px #fff, 1654px 950px #fff,
    712px 501px #fff, 52px 346px #fff, 1634px 843px #fff, 1424px 328px #fff,
    1625px 368px #fff, 1768px 428px #fff, 1535px 643px #fff, 782px 10px #fff,
    608px 432px #fff, 1468px 695px #fff, 1860px 750px #fff, 1938px 895px #fff,
    555px 879px #fff, 841px 974px #fff, 617px 770px #fff, 1827px 790px #fff,
    197px 300px #fff, 227px 488px #fff, 1254px 927px #fff, 1739px 235px #fff,
    1068px 6px #fff, 1551px 19px #fff, 246px 511px #fff, 548px 854px #fff,
    1291px 645px #fff, 132px 378px #fff, 787px 128px #fff, 528px 17px #fff,
    793px 863px #fff, 438px 705px #fff, 1033px 121px #fff, 1467px 537px #fff,
    495px 710px #fff, 1137px 73px #fff, 1804px 760px #fff, 1600px 727px #fff,
    2000px 424px #fff, 1687px 973px #fff, 1742px 393px #fff, 468px 689px #fff,
    1840px 210px #fff, 1214px 746px #fff, 386px 108px #fff, 1844px 551px #fff,
    1551px 341px #fff, 1480px 477px #fff, 269px 914px #fff, 1958px 480px #fff,
    1062px 385px #fff, 1075px 404px #fff, 1672px 50px #fff, 1575px 715px #fff,
    572px 847px #fff, 1882px 665px #fff, 1107px 930px #fff, 353px 870px #fff,
    872px 397px #fff, 305px 796px #fff, 481px 41px #fff, 205px 555px #fff,
    224px 564px #fff, 1041px 899px #fff, 1703px 504px #fff, 1267px 725px #fff,
    1913px 631px #fff, 1461px 239px #fff, 42px 428px #fff, 671px 538px #fff,
    1948px 33px #fff, 99px 116px #fff, 230px 769px #fff, 1138px 281px #fff,
    1685px 585px #fff, 1568px 779px #fff, 176px 177px #fff, 1314px 791px #fff,
    748px 333px #fff, 959px 695px #fff, 228px 849px #fff, 1862px 257px #fff,
    71px 237px #fff, 324px 685px #fff, 724px 866px #fff, 397px 641px #fff,
    140px 585px #fff, 909px 759px #fff, 1850px 967px #fff, 491px 923px #fff,
    1811px 441px #fff, 1745px 500px #fff, 461px 562px #fff, 1729px 340px #fff,
    818px 535px #fff, 172px 465px #fff, 956px 361px #fff, 894px 588px #fff,
    1164px 113px #fff, 305px 226px #fff, 1971px 475px #fff, 1831px 44px #fff,
    1842px 867px #fff, 86px 203px #fff, 30px 506px #fff, 879px 723px #fff,
    90px 25px #fff, 875px 838px #fff, 405px 902px #fff, 1397px 469px #fff,
    599px 499px #fff, 1856px 674px #fff, 967px 384px #fff, 1350px 846px #fff,
    415px 324px #fff, 1706px 973px #fff, 1794px 470px #fff, 1501px 62px #fff,
    10px 629px #fff, 1193px 718px #fff, 405px 60px #fff, 459px 83px #fff,
    1417px 513px #fff, 305px 750px #fff, 987px 87px #fff, 998px 132px #fff,
    1084px 7px #fff, 1767px 379px #fff, 493px 168px #fff, 7px 530px #fff,
    916px 749px #fff, 1850px 64px #fff, 1516px 580px #fff, 9px 381px #fff,
    1047px 96px #fff;
  animation: animStar 60s linear infinite;
}
.stars:after {
  content: '';
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 37px 132px #fff, 347px 777px #fff, 364px 79px #fff,
    682px 183px #fff, 144px 822px #fff, 148px 164px #fff, 113px 720px #fff,
    998px 297px #fff, 336px 860px #fff, 600px 47px #fff, 1465px 435px #fff,
    962px 974px #fff, 338px 245px #fff, 1296px 190px #fff, 1441px 180px #fff,
    1351px 65px #fff, 1827px 380px #fff, 648px 363px #fff, 372px 45px #fff,
    729px 987px #fff, 1820px 82px #fff, 1088px 492px #fff, 888px 873px #fff,
    292px 283px #fff, 1882px 586px #fff, 152px 334px #fff, 101px 561px #fff,
    1304px 164px #fff, 945px 166px #fff, 1152px 797px #fff, 658px 307px #fff,
    1009px 691px #fff, 1289px 155px #fff, 815px 746px #fff, 881px 560px #fff,
    698px 373px #fff, 1100px 814px #fff, 732px 832px #fff, 1376px 885px #fff,
    1070px 133px #fff, 1668px 650px #fff, 21px 116px #fff, 123px 757px #fff,
    253px 68px #fff, 493px 262px #fff, 177px 53px #fff, 169px 992px #fff,
    1375px 195px #fff, 1815px 740px #fff, 92px 678px #fff, 69px 700px #fff,
    75px 131px #fff, 765px 954px #fff, 1644px 990px #fff, 1204px 187px #fff,
    88px 846px #fff, 917px 126px #fff, 1907px 138px #fff, 1379px 13px #fff,
    214px 781px #fff, 1689px 199px #fff, 425px 683px #fff, 1652px 59px #fff,
    826px 303px #fff, 1943px 893px #fff, 1393px 196px #fff, 1211px 18px #fff,
    283px 662px #fff, 1727px 485px #fff, 853px 928px #fff, 1972px 800px #fff,
    1601px 571px #fff, 1813px 648px #fff, 1859px 605px #fff, 1422px 973px #fff,
    122px 388px #fff, 871px 522px #fff, 686px 49px #fff, 977px 910px #fff,
    296px 411px #fff, 755px 246px #fff, 185px 817px #fff, 1337px 750px #fff,
    1942px 95px #fff, 1613px 611px #fff, 477px 902px #fff, 1330px 300px #fff,
    1534px 256px #fff, 580px 302px #fff, 23px 102px #fff, 496px 299px #fff,
    968px 131px #fff, 922px 588px #fff, 1909px 389px #fff, 562px 681px #fff,
    95px 749px #fff, 1568px 954px #fff, 671px 467px #fff, 66px 22px #fff,
    920px 36px #fff, 1430px 204px #fff, 787px 762px #fff, 1295px 784px #fff,
    1888px 290px #fff, 341px 358px #fff, 1406px 397px #fff, 458px 660px #fff,
    186px 126px #fff, 1099px 901px #fff, 1694px 526px #fff, 539px 639px #fff,
    1417px 567px #fff, 665px 635px #fff, 1899px 621px #fff, 253px 861px #fff,
    121px 978px #fff, 279px 367px #fff, 1184px 402px #fff, 1118px 171px #fff,
    1924px 499px #fff, 423px 591px #fff, 1333px 957px #fff, 47px 901px #fff,
    1847px 489px #fff, 1222px 255px #fff, 778px 58px #fff, 454px 165px #fff,
    1646px 120px #fff, 552px 406px #fff, 920px 508px #fff, 1140px 855px #fff,
    1469px 995px #fff, 1338px 741px #fff, 1327px 342px #fff, 21px 463px #fff,
    1589px 551px #fff, 1401px 301px #fff, 585px 755px #fff, 421px 995px #fff,
    1812px 983px #fff, 439px 524px #fff, 337px 227px #fff, 1081px 276px #fff,
    1838px 354px #fff, 418px 20px #fff, 413px 486px #fff, 1141px 508px #fff,
    984px 598px #fff, 350px 31px #fff, 1913px 388px #fff, 1400px 976px #fff,
    866px 241px #fff, 1469px 846px #fff, 681px 876px #fff, 1057px 99px #fff,
    842px 446px #fff, 1738px 212px #fff, 1865px 346px #fff, 262px 526px #fff,
    1505px 356px #fff, 467px 649px #fff, 1932px 62px #fff, 1564px 872px #fff,
    737px 657px #fff, 1292px 1000px #fff, 1446px 98px #fff, 1505px 434px #fff,
    54px 558px #fff, 308px 507px #fff, 515px 46px #fff, 1169px 318px #fff,
    1727px 702px #fff, 1539px 971px #fff, 1283px 65px #fff, 96px 363px #fff,
    1578px 355px #fff, 1817px 557px #fff, 756px 508px #fff, 1801px 425px #fff,
    532px 179px #fff, 1716px 363px #fff, 1710px 187px #fff, 408px 562px #fff,
    1839px 979px #fff, 1156px 823px #fff, 1166px 578px #fff, 1906px 131px #fff,
    702px 511px #fff, 843px 344px #fff, 209px 406px #fff, 1812px 492px #fff,
    1529px 736px #fff, 1835px 425px #fff, 905px 832px #fff, 1033px 38px #fff,
    559px 728px #fff, 771px 389px #fff, 1540px 61px #fff, 1850px 556px #fff,
    247px 681px #fff, 1360px 13px #fff, 1058px 104px #fff, 963px 789px #fff,
    1057px 941px #fff, 1414px 898px #fff, 1823px 549px #fff, 317px 707px #fff,
    381px 310px #fff, 1804px 224px #fff, 1747px 448px #fff, 894px 337px #fff,
    446px 846px #fff, 1042px 927px #fff, 1912px 976px #fff, 1414px 191px #fff,
    1487px 493px #fff, 1887px 978px #fff, 1323px 676px #fff, 515px 511px #fff,
    1401px 925px #fff, 1710px 454px #fff, 462px 839px #fff, 1849px 490px #fff,
    1425px 334px #fff, 342px 558px #fff, 1040px 446px #fff, 1695px 154px #fff,
    451px 759px #fff, 1687px 191px #fff, 1045px 102px #fff, 262px 103px #fff,
    1921px 869px #fff, 813px 115px #fff, 211px 269px #fff, 1790px 742px #fff,
    1303px 193px #fff, 1953px 897px #fff, 1307px 115px #fff, 588px 416px #fff,
    1243px 135px #fff, 998px 441px #fff, 1297px 743px #fff, 1941px 590px #fff,
    706px 72px #fff, 1684px 282px #fff, 1088px 456px #fff, 1509px 379px #fff,
    1631px 432px #fff, 145px 576px #fff, 513px 161px #fff, 709px 15px #fff,
    785px 69px #fff, 1644px 977px #fff, 1841px 161px #fff, 1385px 955px #fff,
    33px 830px #fff, 600px 74px #fff, 904px 128px #fff, 1912px 852px #fff,
    1994px 849px #fff, 1472px 878px #fff, 1625px 476px #fff, 532px 446px #fff,
    1307px 512px #fff, 1943px 230px #fff, 1695px 931px #fff, 1815px 776px #fff,
    1035px 190px #fff, 511px 667px #fff, 272px 958px #fff, 1013px 961px #fff,
    955px 485px #fff, 1719px 731px #fff, 1173px 152px #fff, 1211px 765px #fff,
    1155px 561px #fff, 1722px 894px #fff, 61px 385px #fff, 1426px 578px #fff,
    112px 570px #fff, 1649px 692px #fff, 503px 630px #fff, 1298px 209px #fff,
    73px 241px #fff, 422px 318px #fff, 1075px 225px #fff, 1992px 545px #fff,
    489px 966px #fff, 1594px 421px #fff, 966px 745px #fff, 1590px 125px #fff,
    105px 139px #fff, 1946px 230px #fff, 174px 794px #fff, 1255px 558px #fff,
    131px 1px #fff, 924px 590px #fff, 1123px 431px #fff, 833px 139px #fff,
    1269px 689px #fff, 634px 478px #fff, 1683px 378px #fff, 124px 949px #fff,
    134px 381px #fff, 1239px 304px #fff, 1107px 141px #fff, 1268px 736px #fff,
    428px 309px #fff, 1124px 172px #fff, 576px 874px #fff, 1298px 615px #fff,
    598px 767px #fff, 1183px 549px #fff, 1121px 116px #fff, 426px 400px #fff,
    1460px 392px #fff, 23px 822px #fff, 1012px 205px #fff, 494px 914px #fff,
    864px 43px #fff, 1431px 577px #fff, 383px 474px #fff, 839px 654px #fff,
    766px 659px #fff, 1198px 413px #fff, 470px 745px #fff, 890px 445px #fff,
    1385px 62px #fff, 1992px 552px #fff, 1272px 380px #fff, 821px 91px #fff,
    1506px 926px #fff, 740px 894px #fff, 1716px 503px #fff, 1236px 534px #fff,
    1014px 606px #fff, 744px 389px #fff, 1392px 40px #fff, 509px 475px #fff,
    1139px 660px #fff, 360px 793px #fff, 1887px 926px #fff, 870px 151px #fff,
    716px 324px #fff, 1982px 977px #fff, 1546px 221px #fff, 1708px 270px #fff,
    1745px 915px #fff, 1330px 667px #fff, 274px 859px #fff, 937px 273px #fff,
    1915px 427px #fff, 1422px 313px #fff, 1819px 985px #fff, 1716px 434px #fff,
    1767px 962px #fff, 102px 924px #fff, 1279px 567px #fff, 798px 470px #fff,
    1018px 552px #fff, 1620px 929px #fff, 7px 681px #fff, 946px 782px #fff,
    105px 774px #fff, 1056px 353px #fff, 653px 702px #fff, 1654px 950px #fff,
    712px 501px #fff, 52px 346px #fff, 1634px 843px #fff, 1424px 328px #fff,
    1625px 368px #fff, 1768px 428px #fff, 1535px 643px #fff, 782px 10px #fff,
    608px 432px #fff, 1468px 695px #fff, 1860px 750px #fff, 1938px 895px #fff,
    555px 879px #fff, 841px 974px #fff, 617px 770px #fff, 1827px 790px #fff,
    197px 300px #fff, 227px 488px #fff, 1254px 927px #fff, 1739px 235px #fff,
    1068px 6px #fff, 1551px 19px #fff, 246px 511px #fff, 548px 854px #fff,
    1291px 645px #fff, 132px 378px #fff, 787px 128px #fff, 528px 17px #fff,
    793px 863px #fff, 438px 705px #fff, 1033px 121px #fff, 1467px 537px #fff,
    495px 710px #fff, 1137px 73px #fff, 1804px 760px #fff, 1600px 727px #fff,
    2000px 424px #fff, 1687px 973px #fff, 1742px 393px #fff, 468px 689px #fff,
    1840px 210px #fff, 1214px 746px #fff, 386px 108px #fff, 1844px 551px #fff,
    1551px 341px #fff, 1480px 477px #fff, 269px 914px #fff, 1958px 480px #fff,
    1062px 385px #fff, 1075px 404px #fff, 1672px 50px #fff, 1575px 715px #fff,
    572px 847px #fff, 1882px 665px #fff, 1107px 930px #fff, 353px 870px #fff,
    872px 397px #fff, 305px 796px #fff, 481px 41px #fff, 205px 555px #fff,
    224px 564px #fff, 1041px 899px #fff, 1703px 504px #fff, 1267px 725px #fff,
    1913px 631px #fff, 1461px 239px #fff, 42px 428px #fff, 671px 538px #fff,
    1948px 33px #fff, 99px 116px #fff, 230px 769px #fff, 1138px 281px #fff,
    1685px 585px #fff, 1568px 779px #fff, 176px 177px #fff, 1314px 791px #fff,
    748px 333px #fff, 959px 695px #fff, 228px 849px #fff, 1862px 257px #fff,
    71px 237px #fff, 324px 685px #fff, 724px 866px #fff, 397px 641px #fff,
    140px 585px #fff, 909px 759px #fff, 1850px 967px #fff, 491px 923px #fff,
    1811px 441px #fff, 1745px 500px #fff, 461px 562px #fff, 1729px 340px #fff,
    818px 535px #fff, 172px 465px #fff, 956px 361px #fff, 894px 588px #fff,
    1164px 113px #fff, 305px 226px #fff, 1971px 475px #fff, 1831px 44px #fff,
    1842px 867px #fff, 86px 203px #fff, 30px 506px #fff, 879px 723px #fff,
    90px 25px #fff, 875px 838px #fff, 405px 902px #fff, 1397px 469px #fff,
    599px 499px #fff, 1856px 674px #fff, 967px 384px #fff, 1350px 846px #fff,
    415px 324px #fff, 1706px 973px #fff, 1794px 470px #fff, 1501px 62px #fff,
    10px 629px #fff, 1193px 718px #fff, 405px 60px #fff, 459px 83px #fff,
    1417px 513px #fff, 305px 750px #fff, 987px 87px #fff, 998px 132px #fff,
    1084px 7px #fff, 1767px 379px #fff, 493px 168px #fff, 7px 530px #fff,
    916px 749px #fff, 1850px 64px #fff, 1516px 580px #fff, 9px 381px #fff,
    1047px 96px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1940px 477px #fff, 1087px 629px #fff, 482px 861px #fff,
    1471px 518px #fff, 500px 188px #fff, 441px 89px #fff, 860px 60px #fff,
    595px 504px #fff, 1030px 840px #fff, 1303px 49px #fff, 1230px 368px #fff,
    836px 247px #fff, 331px 847px #fff, 1274px 461px #fff, 268px 730px #fff,
    1648px 605px #fff, 1970px 280px #fff, 1644px 656px #fff, 1529px 900px #fff,
    1716px 859px #fff, 1707px 18px #fff, 1928px 980px #fff, 700px 162px #fff,
    1828px 877px #fff, 1118px 618px #fff, 329px 558px #fff, 1605px 770px #fff,
    140px 13px #fff, 1154px 46px #fff, 1837px 658px #fff, 1669px 514px #fff,
    1580px 94px #fff, 214px 279px #fff, 723px 248px #fff, 70px 206px #fff,
    1446px 853px #fff, 1941px 833px #fff, 1929px 268px #fff, 1427px 870px #fff,
    1333px 278px #fff, 1521px 606px #fff, 266px 964px #fff, 1484px 982px #fff,
    1360px 48px #fff, 21px 375px #fff, 121px 714px #fff, 83px 45px #fff,
    1173px 230px #fff, 1863px 278px #fff, 138px 373px #fff, 1309px 68px #fff,
    430px 419px #fff, 536px 467px #fff, 526px 653px #fff, 841px 534px #fff,
    807px 471px #fff, 634px 810px #fff, 1686px 110px #fff, 1137px 8px #fff,
    513px 2px #fff, 259px 260px #fff, 28px 990px #fff, 449px 446px #fff,
    554px 744px #fff, 717px 667px #fff, 1732px 953px #fff, 1558px 232px #fff,
    296px 83px #fff, 262px 356px #fff, 1267px 653px #fff, 757px 251px #fff,
    1668px 757px #fff, 1325px 785px #fff, 1927px 462px #fff, 963px 78px #fff,
    1285px 307px #fff, 808px 309px #fff, 1757px 945px #fff, 1286px 40px #fff,
    1355px 215px #fff, 1933px 356px #fff, 1674px 139px #fff, 719px 92px #fff,
    249px 741px #fff, 603px 316px #fff, 1597px 29px #fff, 1454px 544px #fff,
    1244px 704px #fff, 1582px 623px #fff, 504px 378px #fff, 423px 36px #fff,
    1158px 506px #fff, 377px 724px #fff, 1291px 450px #fff, 39px 151px #fff,
    658px 935px #fff, 356px 644px #fff, 956px 443px #fff, 1106px 335px #fff,
    327px 907px #fff, 1316px 102px #fff, 1161px 949px #fff, 1214px 998px #fff,
    1387px 678px #fff, 681px 128px #fff, 1170px 263px #fff, 1711px 693px #fff,
    102px 800px #fff, 85px 799px #fff, 970px 897px #fff, 1818px 572px #fff,
    195px 115px #fff, 1243px 352px #fff, 658px 839px #fff, 1931px 855px #fff,
    1043px 869px #fff, 1896px 873px #fff, 635px 260px #fff, 247px 907px #fff,
    1210px 423px #fff, 597px 258px #fff, 616px 224px #fff, 443px 451px #fff,
    1411px 58px #fff, 1554px 410px #fff, 1276px 354px #fff, 275px 890px #fff,
    1579px 338px #fff, 485px 481px #fff, 1056px 620px #fff, 1922px 309px #fff,
    1873px 139px #fff, 267px 464px #fff, 227px 19px #fff, 1954px 754px #fff,
    494px 973px #fff, 86px 58px #fff, 1285px 514px #fff, 580px 210px #fff,
    766px 843px #fff, 1319px 244px #fff, 628px 326px #fff, 442px 728px #fff,
    862px 352px #fff, 1374px 519px #fff, 765px 776px #fff, 1122px 511px #fff,
    631px 382px #fff, 1085px 839px #fff, 1070px 955px #fff, 688px 722px #fff,
    1672px 115px #fff, 1545px 119px #fff, 928px 887px #fff, 420px 925px #fff,
    1584px 304px #fff, 534px 89px #fff, 1744px 854px #fff, 1404px 518px #fff,
    1041px 715px #fff, 1806px 932px #fff, 1954px 324px #fff, 1257px 242px #fff,
    40px 409px #fff, 262px 162px #fff, 53px 28px #fff, 616px 506px #fff,
    495px 780px #fff, 1780px 317px #fff, 1237px 966px #fff, 939px 438px #fff,
    874px 169px #fff, 1340px 122px #fff, 336px 508px #fff, 1233px 894px #fff,
    1599px 97px #fff, 283px 845px #fff, 1690px 402px #fff, 102px 500px #fff,
    1842px 88px #fff, 1189px 496px #fff, 1436px 625px #fff, 1743px 276px #fff,
    1881px 926px #fff, 232px 441px #fff, 261px 421px #fff, 632px 785px #fff,
    715px 735px #fff, 1654px 395px #fff, 1857px 721px #fff, 1750px 635px #fff,
    1617px 448px #fff, 1220px 412px #fff, 451px 833px #fff, 1257px 464px #fff,
    763px 135px #fff, 47px 997px #fff, 1818px 122px #fff, 1696px 815px #fff,
    1777px 628px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: '';
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1940px 477px #fff, 1087px 629px #fff, 482px 861px #fff,
    1471px 518px #fff, 500px 188px #fff, 441px 89px #fff, 860px 60px #fff,
    595px 504px #fff, 1030px 840px #fff, 1303px 49px #fff, 1230px 368px #fff,
    836px 247px #fff, 331px 847px #fff, 1274px 461px #fff, 268px 730px #fff,
    1648px 605px #fff, 1970px 280px #fff, 1644px 656px #fff, 1529px 900px #fff,
    1716px 859px #fff, 1707px 18px #fff, 1928px 980px #fff, 700px 162px #fff,
    1828px 877px #fff, 1118px 618px #fff, 329px 558px #fff, 1605px 770px #fff,
    140px 13px #fff, 1154px 46px #fff, 1837px 658px #fff, 1669px 514px #fff,
    1580px 94px #fff, 214px 279px #fff, 723px 248px #fff, 70px 206px #fff,
    1446px 853px #fff, 1941px 833px #fff, 1929px 268px #fff, 1427px 870px #fff,
    1333px 278px #fff, 1521px 606px #fff, 266px 964px #fff, 1484px 982px #fff,
    1360px 48px #fff, 21px 375px #fff, 121px 714px #fff, 83px 45px #fff,
    1173px 230px #fff, 1863px 278px #fff, 138px 373px #fff, 1309px 68px #fff,
    430px 419px #fff, 536px 467px #fff, 526px 653px #fff, 841px 534px #fff,
    807px 471px #fff, 634px 810px #fff, 1686px 110px #fff, 1137px 8px #fff,
    513px 2px #fff, 259px 260px #fff, 28px 990px #fff, 449px 446px #fff,
    554px 744px #fff, 717px 667px #fff, 1732px 953px #fff, 1558px 232px #fff,
    296px 83px #fff, 262px 356px #fff, 1267px 653px #fff, 757px 251px #fff,
    1668px 757px #fff, 1325px 785px #fff, 1927px 462px #fff, 963px 78px #fff,
    1285px 307px #fff, 808px 309px #fff, 1757px 945px #fff, 1286px 40px #fff,
    1355px 215px #fff, 1933px 356px #fff, 1674px 139px #fff, 719px 92px #fff,
    249px 741px #fff, 603px 316px #fff, 1597px 29px #fff, 1454px 544px #fff,
    1244px 704px #fff, 1582px 623px #fff, 504px 378px #fff, 423px 36px #fff,
    1158px 506px #fff, 377px 724px #fff, 1291px 450px #fff, 39px 151px #fff,
    658px 935px #fff, 356px 644px #fff, 956px 443px #fff, 1106px 335px #fff,
    327px 907px #fff, 1316px 102px #fff, 1161px 949px #fff, 1214px 998px #fff,
    1387px 678px #fff, 681px 128px #fff, 1170px 263px #fff, 1711px 693px #fff,
    102px 800px #fff, 85px 799px #fff, 970px 897px #fff, 1818px 572px #fff,
    195px 115px #fff, 1243px 352px #fff, 658px 839px #fff, 1931px 855px #fff,
    1043px 869px #fff, 1896px 873px #fff, 635px 260px #fff, 247px 907px #fff,
    1210px 423px #fff, 597px 258px #fff, 616px 224px #fff, 443px 451px #fff,
    1411px 58px #fff, 1554px 410px #fff, 1276px 354px #fff, 275px 890px #fff,
    1579px 338px #fff, 485px 481px #fff, 1056px 620px #fff, 1922px 309px #fff,
    1873px 139px #fff, 267px 464px #fff, 227px 19px #fff, 1954px 754px #fff,
    494px 973px #fff, 86px 58px #fff, 1285px 514px #fff, 580px 210px #fff,
    766px 843px #fff, 1319px 244px #fff, 628px 326px #fff, 442px 728px #fff,
    862px 352px #fff, 1374px 519px #fff, 765px 776px #fff, 1122px 511px #fff,
    631px 382px #fff, 1085px 839px #fff, 1070px 955px #fff, 688px 722px #fff,
    1672px 115px #fff, 1545px 119px #fff, 928px 887px #fff, 420px 925px #fff,
    1584px 304px #fff, 534px 89px #fff, 1744px 854px #fff, 1404px 518px #fff,
    1041px 715px #fff, 1806px 932px #fff, 1954px 324px #fff, 1257px 242px #fff,
    40px 409px #fff, 262px 162px #fff, 53px 28px #fff, 616px 506px #fff,
    495px 780px #fff, 1780px 317px #fff, 1237px 966px #fff, 939px 438px #fff,
    874px 169px #fff, 1340px 122px #fff, 336px 508px #fff, 1233px 894px #fff,
    1599px 97px #fff, 283px 845px #fff, 1690px 402px #fff, 102px 500px #fff,
    1842px 88px #fff, 1189px 496px #fff, 1436px 625px #fff, 1743px 276px #fff,
    1881px 926px #fff, 232px 441px #fff, 261px 421px #fff, 632px 785px #fff,
    715px 735px #fff, 1654px 395px #fff, 1857px 721px #fff, 1750px 635px #fff,
    1617px 448px #fff, 1220px 412px #fff, 451px 833px #fff, 1257px 464px #fff,
    763px 135px #fff, 47px 997px #fff, 1818px 122px #fff, 1696px 815px #fff,
    1777px 628px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1052px 530px #fff, 821px 570px #fff, 1108px 86px #fff,
    380px 839px #fff, 1337px 224px #fff, 1690px 213px #fff, 1637px 551px #fff,
    1762px 972px #fff, 1724px 313px #fff, 496px 940px #fff, 677px 807px #fff,
    1004px 146px #fff, 1657px 977px #fff, 1858px 284px #fff, 439px 385px #fff,
    698px 368px #fff, 682px 613px #fff, 1302px 309px #fff, 57px 152px #fff,
    1414px 65px #fff, 1857px 931px #fff, 1186px 144px #fff, 1758px 748px #fff,
    339px 787px #fff, 740px 977px #fff, 1436px 161px #fff, 1225px 633px #fff,
    286px 883px #fff, 1195px 833px #fff, 1248px 660px #fff, 1863px 590px #fff,
    854px 971px #fff, 1764px 960px #fff, 1621px 999px #fff, 1334px 339px #fff,
    1502px 758px #fff, 708px 849px #fff, 1818px 285px #fff, 1986px 904px #fff,
    1690px 589px #fff, 580px 630px #fff, 1989px 213px #fff, 1276px 476px #fff,
    379px 18px #fff, 68px 772px #fff, 1084px 900px #fff, 1484px 863px #fff,
    1883px 526px #fff, 1558px 426px #fff, 1881px 595px #fff, 77px 279px #fff,
    1445px 809px #fff, 1811px 8px #fff, 115px 573px #fff, 1713px 423px #fff,
    708px 329px #fff, 1345px 846px #fff, 289px 315px #fff, 457px 956px #fff,
    1462px 321px #fff, 360px 116px #fff, 578px 888px #fff, 830px 439px #fff,
    187px 126px #fff, 1853px 998px #fff, 1468px 370px #fff, 1859px 128px #fff,
    1476px 95px #fff, 122px 518px #fff, 1685px 156px #fff, 666px 747px #fff,
    1306px 820px #fff, 1549px 560px #fff, 409px 182px #fff, 1274px 414px #fff,
    171px 760px #fff, 529px 255px #fff, 1960px 532px #fff, 1822px 334px #fff,
    1213px 749px #fff, 329px 201px #fff, 1621px 641px #fff, 1391px 27px #fff,
    714px 454px #fff, 1185px 486px #fff, 1670px 304px #fff, 911px 373px #fff,
    1320px 370px #fff, 170px 206px #fff, 257px 227px #fff, 1163px 113px #fff,
    187px 987px #fff, 867px 163px #fff, 73px 33px #fff, 1330px 730px #fff,
    275px 652px #fff, 789px 766px #fff, 409px 609px #fff, 516px 666px #fff,
    1073px 396px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: '';
  position: absolute;
  top: 1000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1052px 530px #fff, 821px 570px #fff, 1108px 86px #fff,
    380px 839px #fff, 1337px 224px #fff, 1690px 213px #fff, 1637px 551px #fff,
    1762px 972px #fff, 1724px 313px #fff, 496px 940px #fff, 677px 807px #fff,
    1004px 146px #fff, 1657px 977px #fff, 1858px 284px #fff, 439px 385px #fff,
    698px 368px #fff, 682px 613px #fff, 1302px 309px #fff, 57px 152px #fff,
    1414px 65px #fff, 1857px 931px #fff, 1186px 144px #fff, 1758px 748px #fff,
    339px 787px #fff, 740px 977px #fff, 1436px 161px #fff, 1225px 633px #fff,
    286px 883px #fff, 1195px 833px #fff, 1248px 660px #fff, 1863px 590px #fff,
    854px 971px #fff, 1764px 960px #fff, 1621px 999px #fff, 1334px 339px #fff,
    1502px 758px #fff, 708px 849px #fff, 1818px 285px #fff, 1986px 904px #fff,
    1690px 589px #fff, 580px 630px #fff, 1989px 213px #fff, 1276px 476px #fff,
    379px 18px #fff, 68px 772px #fff, 1084px 900px #fff, 1484px 863px #fff,
    1883px 526px #fff, 1558px 426px #fff, 1881px 595px #fff, 77px 279px #fff,
    1445px 809px #fff, 1811px 8px #fff, 115px 573px #fff, 1713px 423px #fff,
    708px 329px #fff, 1345px 846px #fff, 289px 315px #fff, 457px 956px #fff,
    1462px 321px #fff, 360px 116px #fff, 578px 888px #fff, 830px 439px #fff,
    187px 126px #fff, 1853px 998px #fff, 1468px 370px #fff, 1859px 128px #fff,
    1476px 95px #fff, 122px 518px #fff, 1685px 156px #fff, 666px 747px #fff,
    1306px 820px #fff, 1549px 560px #fff, 409px 182px #fff, 1274px 414px #fff,
    171px 760px #fff, 529px 255px #fff, 1960px 532px #fff, 1822px 334px #fff,
    1213px 749px #fff, 329px 201px #fff, 1621px 641px #fff, 1391px 27px #fff,
    714px 454px #fff, 1185px 486px #fff, 1670px 304px #fff, 911px 373px #fff,
    1320px 370px #fff, 170px 206px #fff, 257px 227px #fff, 1163px 113px #fff,
    187px 987px #fff, 867px 163px #fff, 73px 33px #fff, 1330px 730px #fff,
    275px 652px #fff, 789px 766px #fff, 409px 609px #fff, 516px 666px #fff,
    1073px 396px #fff;
}

.text {
  margin: 5.5rem;
  text-align: center;
}

.higher-text h1 {
  font-size: 2.4rem;
  background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
  user-select: none;
  z-index: 10;
}

.higher-text a {
  background: transparent;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.higher-text svg {
  transform: translateY(5px);
  transition: all 0.5s;
}

.higher-text a:hover svg {
  transform: translateY(8px);
}

.lower-text {
  padding-top: 45vh;
  position: absolute;
  bottom: 40vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: fit-content;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.active {
  opacity: 1;
}

.text h2 {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 4px;
  user-select: none;
}

.link-box {
  align-content: center;
  justify-content: center;
}

.main-button {
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  color: white;
  background-color: var(--orange);
  letter-spacing: 1.2px;
  border: 1.5px solid var(--orange);
  border-radius: 50px;
  padding: 16px 50px 16px 50px;
  transition: all 0.4s;
}

.main-button:hover,
.main-button:active {
  background: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@media screen and (max-width: 800px) {
  .text {
    margin: 3rem;
  }

  .text h3 {
    margin-bottom: 10px;
  }

  .text h2 {
    font-size: 3rem;
  }

  .text h1 {
    letter-spacing: 4px;
  }

  .main-button {
    margin-top: 35px;
    padding: 13px 50px 13px 50px;
  }
}
