.blockquote-wrapper {
  width: 50%;
  max-width: 350px;
}

.blockquote h2 {
  position: relative;
  color: var(--light-brown);
  font-size: 1.2rem;
  letter-spacing: 0.4px;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px;
}

.blockquote h2:after {
  content: '';
  position: absolute;
  border: 2px solid var(--light-brown);
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 40px;
  bottom: -42px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.blockquote h2:before {
  content: '';
  position: absolute;
  width: 80px;
  border: 6px solid #232323;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

.blockquote h3 {
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.2;
  padding-top: 15px;
  margin-left: 150px;
  padding-left: 12px;
}

.blockquote h3:first-letter {
  margin-left: -12px;
}

.blockquote span {
  padding-left: 16px;
}

@media screen and (max-width: 1050px) {
  .blockquote-wrapper {
    display: flex;
  }

  .blockquote h3::first-letter {
    margin-left: -25px;
  }

  .blockquote span {
    padding-left: 0px;
  }
}
