@import './css-reset.css';

:root {
  --light-gray: #615d5e;
  --dark-gray: #262626;
  --light-brown: #cc9955;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(85, 84, 84);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
