@import './css-reset.css';

:root {
  --light-gray: #615d5e;
  --dark-gray: #262626;
  --light-brown: #cc9955;
  --orange: #ffab00;
}

body {
  background-color: #151d28;
  color: white;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}
