.header {
  background-color: var(--dark-gray);
  padding: 8px;
  display: flex;
}

.header img {
  padding-left: 6rem;
}

.main-navbar {
  background-color: #090a0f;
  background: radial-gradient(ellipse at bottom, #1b2735 -250%, #090a0f 100%);
}

.nav {
  position: absolute;
  right: 5%;
  top: 130px;
}

.nav-links a {
  color: white;
  text-transform: uppercase;
  margin: 8px;
  letter-spacing: 0.6px;
  transition: all 0.4s;
}

.nav-links a:hover,
.nav-links a:active {
  color: #dc8915;
}

.nav-menu,
.navbar-800 {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-links,
  .header {
    display: none;
  }

  .navbar-800 {
    padding: 20px 0;
    display: grid;
    position: relative;
    background-color: #090a0f;
    background: radial-gradient(ellipse at bottom, #1b2735 -250%, #090a0f 100%);
  }

  .navbar-800 img {
    justify-self: center;
  }

  .hamburger-menu-icon {
    z-index: 67;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #3f6ba5;
    padding: 15px;
    border-bottom-left-radius: 100px;
    box-shadow: #3f6ba5 5px -5px 25px 10px;
  }

  .hamburger-menu-icon svg {
    transform: translateX(5px) translateY(-5px);
    transition: all 1.5s;
  }

  .hamburger-menu-icon:active svg,
  .hamburger-menu-icon:hover svg {
    transform: translateX(5px) translateY(-5px) rotate(360deg);
  }

  .nav-menu-800 {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    border-bottom-left-radius: 200px;
    z-index: 61;
    height: 80px;
    width: 80px;
    transition: all 0.6s;
  }

  .navbar-800::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background: url(../../Assets/BackgroundMenu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    width: 0;
    transform: translateY(-200px);
    transition: all 0.6s;
    border-bottom-left-radius: 100%;
  }

  .active-menu-800::before {
    transform: translateY(0px);
    height: 100vh;
    width: 100vw;
    border-bottom-left-radius: 0%;
    z-index: 60;
  }

  .active-menu-800 {
    width: 100vw;
    height: 100vh;
  }

  .nav-menu-800 ul {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .nav-menu-800 li {
    width: 100%;
    text-align: center;
    align-self: center;
    z-index: 22;
  }

  .nav-menu-800 a {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    visibility: hidden;
  }

  .aktywne {
    visibility: visible !important;
  }
}
