.header {
  background-color: var(--dark-gray);
  padding: 10px 4rem;
  grid-template-columns: 400px calc(100% - 400px);
}

.header a {
  width: fit-content;
}

.header img {
  margin-top: 5px;
  height: 127px;
  width: auto;
}

.main-navbar {
  background-color: #090a0f;
  background: radial-gradient(ellipse at bottom, #1b2735 -250%, #090a0f 100%);
}

.nav {
  align-self: flex-end;
  justify-self: right;
  margin-bottom: 13px;
}

.nav-links a {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 8px;
  letter-spacing: 0.2px;
  transition: all 400ms;
}

.nav-links a:hover {
  color: #dc8915;
}

.navbar-800 {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }

  .header {
    padding: 10px 0;
    grid-template-columns: unset;
  }

  .navbar-800 {
    display: block;
  }

  .header a {
    justify-self: center;
  }

  .hamburger-menu-icon {
    z-index: 99;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .nav-menu-800 {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: 80;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .nav-menu-800 ul {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    z-index: 82;
    height: 100%;
    background-color: var(--light-brown);
    width: 0%;
    overflow: hidden;
    transition: all 400ms;
  }

  .active-menu ul {
    width: 60%;
  }

  .nav-menu-800 a {
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
  }
}
